<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <br /><br />
      <h3>Edit your company page</h3>
      <form
        method="POST"
        action="/company/<%= company._id %>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Name</label>
          <input
            name="company[name]"
            value="<%= company.title %>"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good !</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="company[description]" class="form-control" required>
<%= company.description %>
     
</textarea
          >
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          Original Listing Image <br /><img
            src="<%= originalImageUrl %>"
            style="height: 8rem"
          />
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input name="company[image]" type="file" class="form-control" />
          <div class="invalid-feedback">Please enter a valid image URL</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">package</label>
            <input
              name="company[package]"
              value="<%= company.package %>"
              type="number"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter valid Package</div>
          </div>

          
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="student" class="form-label">placed students</label>
            <input
              name="company[students]"
              value="<%= company.students %>"
              type="number"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please enter valid no </div>
          </div>

        <button class="btn btn-dark add-btn">Edit</button>
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
